.breadcrumbs {
   position: relative;
   z-index: 3;
   background-color: #fff;
}

.breadcrumbs__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 30px 0;
}

.breadcrumbs__link {
   display: inline-block;
   text-transform: capitalize;
   height: 100%;
   color: var(--color-grey);
}

.breadcrumbs__link::after {
   content: "/";
   color: var(--color-primary);
   margin: 0 3px;
}

.breadcrumbs__link[aria-current="page"] {
   pointer-events: none;
   color: initial;
   font-weight: 700;
}

.breadcrumbs__link[aria-current="page"]::after {
   display: none;
}

@media (any-hover: hover) {
   .breadcrumbs__link:hover {
      text-decoration: underline;
   }
}
