<nav class="header__nav nav">
   <button class="nav__button btn-reset">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="nav__button-text">{{userName}}</span>
   </button>

   <button routerLink="login" class="nav__button btn-reset logoff" (click)="logoutHandler()">
      <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M0 0h24v24H0z" fill="none" stroke="none" />
         <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
         <path d="M7 12h14l-3 -3m0 6l3 -3" />
      </svg>

      <span class="login__text">Log off</span>
   </button>
</nav>
